<head>
    <script type="application/javascript" src="../../js/vendor.js"></script>
    <script type="application/javascript" src="../../js/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/popups.css">
</head>

<body>
    <div id="top-btn-cont">
        <div class="btn btn-prev"></div>
        <div class="btn btn-play"></div>
        <div class="btn btn-next"></div>
    </div>
    <div id="bot-btn-cont">
        <div class="btn btn-settings"></div>
    </div>
</body>