@import 'colors';

#popup {
	width: 150px;
	background: $bg;

	.btn {
		width: 20vw;
		height: 20vw;
		background-color: whitesmoke;

		display: inline-block;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		mask-repeat: no-repeat;
		mask-size: 100% 100%;

		&.btn-next {
			-webkit-mask-image: url(../../static/img/skip.svg);
			mask-image: url(../../static/img/skip.svg);
		}
		&.btn-prev {
			-webkit-mask-image: url(../../static/img/previous.svg);
			mask-image: url(../../static/img/previous.svg);
		}
		&.btn-play {
			-webkit-mask-image: url(../../static/img/play.svg);
			mask-image: url(../../static/img/play.svg);
		}
		&.btn-pause {
			-webkit-mask-image: url(../../static/img/pause.svg);
			mask-image: url(../../static/img/pause.svg);
		}
		&.btn-settings {
			-webkit-mask-image: url(../../static/img/settings.svg);
			mask-image: url(../../static/img/settings.svg);
		}

		&:hover {
			cursor: pointer;
		}
	}

	#top-btn-cont {
		text-align:center;
		.btn-prev {
			float: left;
		}
		.btn-next {
			float: right;
		}
	}

	#bot-btn-cont {
		text-align: center;
		.btn-settings {
			width: 12.5vw;
			height: 12.5vw;
		}
	}
}