@import 'colors';

#popup {
	width: 150px;
	background: $bg;

	.btn {
		width: 20vw;
		height: 20vw;
		background-color: whitesmoke;

		display: inline-block;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		mask-repeat: no-repeat;
		mask-size: 100% 100%;

		&.btn-next {
			-webkit-mask-image: url(../../static/img/skip.svg);
			mask-image: url(../../static/img/skip.svg);
		}
		&.btn-prev {
			-webkit-mask-image: url(../../static/img/previous.svg);
			mask-image: url(../../static/img/previous.svg);
		}
		&.btn-play {
			-webkit-mask-image: url(../../static/img/play.svg);
			mask-image: url(../../static/img/play.svg);
		}
		&.btn-pause {
			-webkit-mask-image: url(../../static/img/pause.svg);
			mask-image: url(../../static/img/pause.svg);
		}
		&.btn-settings {
			-webkit-mask-image: url(../../static/img/settings.svg);
			mask-image: url(../../static/img/settings.svg);
		}

		&:hover {
			cursor: pointer;
		}
	}

	#top-btn-cont {
		text-align:center;
		.btn-prev {
			float: left;
		}
		.btn-next {
			float: right;
		}
	}

	#bot-btn-cont {
		margin-top: 8px;

		text-align: center;
		.btn-settings {
			width: 12.5vw;
			height: 12.5vw;
		}
	}

	#error-cont {
		margin-top: 8px;
		text-align: center;

		.error {
			position: relative;
			width: 100%;
			color: white;
			background: $red-accent;
			box-shadow: 0 0 2px white;
			.message {
				font-weight:bold;
				margin-bottom: 2px;
			}
			.time {
				margin-top: 2px;
				font-size: 10px;
			}
			.dismiss {
				position: absolute;
				top: 3px;
				right: 3px;
				color: rgba(255,255,255, 0.6);
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}